{% extends 'layout.html' %} {% block content %}
<h2>Clients Report</h2>

<p>
    <div style="width: 90%">
        <p>
            <h4>Clients: All Clients by Age</h4>
        </p>
        <p>
            <canvas id="line" height="300" width="600"></canvas>
        </p>
        <p>
            <h4>Clients: First Appointment Date</h4>
        </p>
        <p>
            <canvas id="first_appt_doy" height="300" width="600"></canvas>
        </p>
        <p>
            <h4>Clients: First Appointment Day of Week</h4>
        </p>
        <p>
            <canvas id="first_appt_weekday" height="300" width="600"></canvas>
        </p>
        <p>
            <h4>Clients: All Clients by Sex</h4>
        </p>
        <p>
            <canvas id="cbs" height="300" width="600"></canvas>
        </p>
        <p>
            <h4>Clients: All Clients by Gender Preference</h4>
        </p>
        <p>
            <canvas id="cgp" height="300" width="600"></canvas>
        </p>
    </div>
</p>


<script>
    function randomColor() {
        return convertHex("#" + Math.random().toString(16).slice(2, 8), 45);
    }

    function convertHex(hex, opacity) {
        hex = hex.replace('#', '');
        r = parseInt(hex.substring(0, 2), 16);
        g = parseInt(hex.substring(2, 4), 16);
        b = parseInt(hex.substring(4, 6), 16);
        result = 'rgba(' + r + ',' + g + ',' + b + ',' + opacity / 100 + ')';
        return result;
    }
    //var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
    var lineChartData = {
        labels: ["-20", "21-25", "26-30", "31-35", "36-40", "41-45", "46-50", "51-55", "56-60", "61-65", , "66+"],
        datasets: [{
            label: "Incoming Funds by Day of Week",
            fillColor: randomColor(),
            strokeColor: randomColor(),
            pointColor: randomColor(),
            pointStrokeColor: randomColor(),
            pointHighlightFill: randomColor(),
            pointHighlightStroke: randomColor(),
            data: [{% for age in clientage %} {{age.1}}, {% endfor %}]
        }]
    }


    var first_apptdoy_data = {
            labels: [{% for doydate in first_appt_doy %}"{{ doydate.0 }}", {% endfor %}
            ],
            datasets: [{
                label: "Number of First Appointments by ISO Week",
                fillColor: randomColor(),
                strokeColor: randomColor(),
                pointColor: randomColor(),
                pointStrokeColor: randomColor(),
                pointHighlightFill: randomColor(),
                pointHighlightStroke: randomColor(),
                data: [{% for doydate in first_appt_doy %}"{{ doydate.1 }}",{% endfor %}
                ]
            }]
        }
        /*
        var first_appt_hour_data = {
          labels : [{% for hour in first_appt_hour %}"{{ hour.0 }}",{% endfor %}],
          datasets : [
          {
          label: "Number of First Appointments by ISO Week",
          fillColor : randomColor(),
          strokeColor : randomColor(),
          pointColor : randomColor(),
          pointStrokeColor : randomColor(),
          pointHighlightFill : randomColor(),
          pointHighlightStroke : randomColor(),
        data : [{% for hour in first_appt_hour %}"{{ hour.1 }}",{% endfor %}]
        }
        ]
        }
        */

    var first_apptweekday_data = {
        labels: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
        datasets: [{
            label: "Incoming Funds by Day of Week",
            fillColor: randomColor(),
            strokeColor: randomColor(),
            pointColor: randomColor(),
            pointStrokeColor: randomColor(),
            pointHighlightFill: randomColor(),
            pointHighlightStroke: randomColor(),
            data: [{% for weekday in first_appt_weekday %}"{{ weekday.1 }}", {% endfor %}
            ]
        }]
    }


    var clients_by_sex = {
        labels: [{% for client in clientsex %}"{{ client.0 }}", {% endfor %}
        ],
        datasets: [{
            fillColor: randomColor(),
            strokeColor: randomColor(),
            highlightFill: randomColor(),
            highlightStroke: randomColor(),
            data: [{% for client in clientsex %} {{ client.1 }}, {% endfor %}]
        }]
    }


    var clients_by_gp = {
        labels: [{% for client in clientgp %}"{{ client.0 }}", {% endfor %}
        ],
        datasets: [{
            fillColor: randomColor(),
            strokeColor: randomColor(),
            highlightFill: randomColor(),
            highlightStroke: randomColor(),
            data: [{% for client in clientgp %} {{ client.1}}, {% endfor %}]
        }]
    }

    window.onload = function() {
        var line = document.getElementById("line").getContext("2d");
        window.myLine = new Chart(line).Line(lineChartData, {
            responsive: true
        });

        var first_appt_doy = document.getElementById("first_appt_doy").getContext("2d");
        window.myLine = new Chart(first_appt_doy).Line(first_apptdoy_data, {
            responsive: true
        });

        var first_appt_weekday = document.getElementById("first_appt_weekday").getContext("2d");
        window.myLine = new Chart(first_appt_weekday).Line(first_apptweekday_data, {
            responsive: true
        });

        /*
        var first_appt_hour = document.getElementById("first_appt_hour").getContext("2d");
        window.myLine = new Chart(first_appt_hour).Line(first_appt_hour_data, {
        responsive: true
        });
        */

        var cbs = document.getElementById("cbs").getContext("2d");
        window.myBar = new Chart(cbs).Bar(clients_by_sex, {
            responsive: true
        });

        var cgp = document.getElementById("cgp").getContext("2d");
        window.myBar = new Chart(cgp).Bar(clients_by_gp, {
            responsive: true
        });
    }
</script>

{% endblock %}
