{% extends 'layout.html' %} {% block content %}
<h2>Sales Report</h2>

<p>
    <div style="width: 90%">
        <p>
            <h4>Sales: This Month / Last Month (by Day Of Week)</h4>
        </p>
        <p>
            <canvas id="line" height="300" width="600"></canvas>
        </p>
        <p>
            <h4>Sales: This Month / Last Month (by Hour)</h4>
        </p>
        <p>
            <canvas id="hour-chart" width="600" height="300"></canvas>
        </p>
        <p>
            <h4>Sales: 60 Day Histogram (by Date)</h4>
        </p>
        <p>
            <canvas id="canvas" height="300" width="600"></canvas>
        </p>
        <p>
            <h4>Sales: This Month / Last Month (by Payment Type)</h4>
        </p>
        <p>
            <canvas id="paytype" width="600" height="300"></canvas>
        </p>
        <p>
            Current Month
            <canvas id="pie1" width="300" height="300"></canvas>
            Last Month
            <canvas id="pie2" width="300" height="300"></canvas>
        </p>
    </div>
</p>
<script>
    function convertHex(hex, opacity) {
        hex = hex.replace('#', '');
        r = parseInt(hex.substring(0, 2), 16);
        g = parseInt(hex.substring(2, 4), 16);
        b = parseInt(hex.substring(4, 6), 16);
        result = 'rgba(' + r + ',' + g + ',' + b + ',' + opacity / 100 + ')';
        return result;
    }

    function randomColor() {
        return convertHex("#" + Math.random().toString(16).slice(2, 8), 45);
    }

    //var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
    var lineChartData = {
        labels: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
        datasets: [{
            label: "Incoming Funds by Day of Week",
            fillColor: randomColor(),
            strokeColor: randomColor(),
            pointColor: randomColor(),
            pointStrokeColor: randomColor(),
            pointHighlightFill: randomColor(),
            pointHighlightStroke: randomColor(),
            data: [{% for dowsale in lm_dowsalesreport %} {{dowsale.1}}, {% endfor %}]
        }, {
            label: "Incoming Funds by Day of Week",
            fillColor: randomColor(),
            strokeColor: randomColor(),
            pointColor: randomColor(),
            pointStrokeColor: randomColor(),
            pointHighlightFill: randomColor(),
            pointHighlightStroke: randomColor(),
            data: [{% for dowsale in dowsalesreport %} {{dowsale.1}}, {% endfor %}]
        }, ]
    }
    var hourlineData = {
        labels: [{% for sale in hoursalesreport %} "{{ sale.0 }}", {% endfor %}
        ],
        datasets: [{
            label: "Incoming Funds by Day of Week",
            fillColor: randomColor(),
            strokeColor: randomColor(),
            pointColor: randomColor(),
            pointStrokeColor: randomColor(),
            pointHighlightFill: randomColor(),
            pointHighlightStroke: randomColor(),
            data: [{% for sale in lm_hoursalesreport %}
                "{{ sale.1 }}", {% endfor %}
            ]
        }, {
            label: "Incoming Funds by Day of Week",
            fillColor: randomColor(),
            strokeColor: randomColor(),
            pointColor: randomColor(),
            pointStrokeColor: randomColor(),
            pointHighlightFill: randomColor(),
            pointHighlightStroke: randomColor(),
            data: [{% for sale in hoursalesreport %}
                "{{ sale.1 }}", {% endfor %}
            ]
        }, ]
    }
    var barChartData = {
        labels: [{% for sale in salesreport %}
            "{{ sale.0 }}", {% endfor %}
        ],
        datasets: [{
            fillColor: randomColor(),
            strokeColor: randomColor(),
            highlightFill: randomColor(),
            highlightStroke: randomColor(),
            data: [{% for sale in salesreport %} {{ sale.1 }}, {% endfor %}]
        }]
    }
    var paymentTypeData = {
        labels: [{% for sale in piereport %}
            "{{ sale.0 }}", {% endfor %}
        ],
        datasets: [{
            fillColor: randomColor(),
            strokeColor: randomColor(),
            highlightFill: randomColor(),
            highlightStroke: randomColor(),
            data: [{% for sale in piereport %} {{ sale.1 }}, {% endfor %}]
        }, {
            fillColor: randomColor(),
            strokeColor: randomColor(),
            highlightFill: randomColor(),
            highlightStroke: randomColor(),
            data: [{% for sale in lm_piereport %} {{ sale.1}}, {% endfor %}]
        }]
    }
    var pieData = [{% for data in piereport %} {
        value: {{data.1}},
        color: randomColor(),
        highlight: randomColor(),
        label: "{{ data.0 }}"
    }, {% endfor %}];
    var pieData2 = [{% for data in lm_piereport %} {
        value: {{ data.1}},
        color: randomColor(),
        highlight: randomColor(),
        label: "{{ data.0 }}"
    }, {% endfor %}];
    window.onload = function() {
        var line = document.getElementById("line").getContext("2d");
        window.myLine = new Chart(line).Line(lineChartData, {
            responsive: true
        });
        var hourline = document.getElementById("hour-chart").getContext("2d");
        window.myLine = new Chart(hourline).Line(hourlineData, {
            responsive: true
        });
        var ctx = document.getElementById("canvas").getContext("2d");
        window.myBar = new Chart(ctx).Bar(barChartData, {
            responsive: true
        });
        var ptbc = document.getElementById("paytype").getContext("2d");
        window.myBar = new Chart(ptbc).Bar(paymentTypeData, {
            responsive: true
        });
        var pie = document.getElementById("pie1").getContext("2d");
        window.myPie = new Chart(pie).Pie(pieData);
        var pie2 = document.getElementById("pie2").getContext("2d");
        window.myPie = new Chart(pie2).Pie(pieData2);
        var line = document.getElementById("line").getContext("2d");
        window.myLine = new Chart(line).Line(lineChartData, {
            responsive: true
        });
    }
</script>
{% endblock %}
