  <header id="head">
    <div class="container">
        <h1 class="lead">MINDBODY API: Demo Django Project</h1>
        <p class="tagline">A live demo showing the power of the MINDBODY SOAP API combined with a <a href="https://www.djangoproject.com/">Django</a> and <a a href="https://www.python.org/download/releases/3.0/">Python 3</a>.</p>
        <p> <a class="btn btn-action btn-lg" role="button" href="https://github.com/vacoj/mbodjango">DOWNLOAD PROJECT SOURCE CODE</a> or <a class="btn btn-action btn-lg" role="button" href="https://developers.mindbodyonline.com">SIGN UP FOR THE MINDBODY API</a></p>
      </div>
    </div>
  </header>
