<div class="container text-center">
    <br> <br>
    <h2 class="thin">Working Examples of the MINDBODY SOAP API</h2>
    <p class="text-muted">
      This site is a working example of the MINDBODY SOAP API as it could be integrated into a Django/Python web project.  This is by no means an extensive representation of all available functionality of our API  My intent for this site is to assist in getting other developers off the ground by providing examples of how to consume the MINDBODY API in a pythonic way.<br> 
    </p>
  </div>